[Unit]
Description=Cerberus IoT Gateway Instance %i
Requires=cerberus.socket

[Service]
StandarInput=socket
StandarOutput=journal
StandarError=journal
ExcStart=/home/regragui/cerberus-gateway/venv/bin/python /home/regragui/cerberus-gateway/src/main.py

DynamicUser=yes
ProtectSystem=strict
NoNewPrevilages=yes
MemoryMax=256M
